.slick-slider {
    margin-bottom: 2.5rem;
}
.slick-list {
    overflow: visible;
}
.slick-slide {
    padding: 32px 12px;
}

.slick-arrow {
    z-index: 1001;
    display: none !important;
}

.slick-prev {
    left: 240px;
   
}
.slick-prev:before,
.slick-next:before {
    color: #c5050c;
    font-size: 2rem;
}
.slick-next {
    right: 240px;
}

.slick-dots li button:before {
    font-size: 11px;
    color: #777777;
}
.slick-dots li.slick-active button:before {
    font-size: 13px;
    color: #c5050c;

}

@media screen and (min-width: 656px) {
    .slick-slide {
        padding: 32px 58px;
    }
    .slick-arrow {
        display: block !important;
    }
    .slick-dots {
        display: none !important;
    
    }
}