.updateInfo form, .updateInfo .form-btns, .updateInfo .disclaimer{
    max-width: 712px;
    margin: 0 auto;
}


.updateInfo form{
    margin-top: 24px;
}
.updateInfo form legend{
    text-transform: uppercase;
    margin-bottom: 12px;
}
.updateInfo form hr{
    margin-bottom: 0;
}
.updateInfo form label, .updateInfo form input  {
    display: block;
    width:100%;
}
.updateInfo form label{
    margin-top: 24px;
}
.updateInfo form input{
    margin-top: 12px;
    height: 48px;
    padding-left: 12px;
}
.updateInfo form label.half, .updateInfo form input.half  {
    width: 49%;
    display: inline-block;
}
.updateInfo form label.leftMargin{
    margin-left: 2%;
}
.updateInfo form label.third, .updateInfo form input.third  {
    width: 30%;
    display: inline-block;
}
.updateInfo form .select-steps label, .updateInfo form .select-steps input{
    display: inline-block;
    width: auto;
}

.updateInfo .form-btns{
    margin: 58px auto;
    text-align: center;
}

.updateInfo .disclaimer{
    margin-bottom: 128px;
}