.slick-slider {
  margin-bottom: 2.5rem;
}
.slick-list {
  overflow: visible;
}
.slick-slide {
  padding: 32px 12px;
}

.slick-arrow {
  z-index: 1001;
  display: none !important;
}

.slick-prev {
  left: 0;
}
.slick-prev:before,
.slick-next:before {
  color: #c5050c;
  font-size: 2rem;
  background-color: white;
}

.slick-next {
  right: 16px;
}

.slick-dots li button:before {
  font-size: 11px;
  color: #777777;
}
.slick-dots li.slick-active button:before {
  font-size: 13px;
  color: #c5050c;
}
.slick-slider {
  margin-bottom: 0;
}

@media screen and (min-width: 656px) {
  .slick-slide {
    padding: 32px 12px 0;
  }
  .slick-arrow {
    display: block !important;
  }
  .slick-dots {
    display: none !important;
  }
}
